<div class="container">
    <div class="container-section">
        <div>
            <h2>Quests</h2>
        </div>
        <div class="container-section-sort">
            <input [(ngModel)]="filter" (ngModelChange)="ngOnChanges($event)" placeholder="Filter"/>
            <select [(ngModel)]="sortObject.params" (ngModelChange)="ngOnChanges($event)">
                <option value="title">Titre</option>
                <option value="percentage">Completed</option>
                <option value="missionLevel">Quest level</option>
            </select>
            <select [(ngModel)]="sortObject.order" (ngModelChange)="ngOnChanges($event)">
                <option value="desc">Desc</option>
                <option value="asc">Asc</option>
            </select>
        </div>
    </div>
    <div *ngFor="let m of missions">
        <app-mission-card [mission]="m">
        </app-mission-card>
    </div>
</div>