<div class="container">
    <div class="container-section">
        <h2>Quests</h2>
        <div class="container-section-sort">
            <select [(ngModel)]="sortObject.params">
                <option value="percentage">Percentage completed</option>
                <option value="missionLevel">Difficulty</option>
            </select>
            <select [(ngModel)]="sortObject.order">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
        </div>
    </div>
    <div *ngFor="let m of missions">
        <app-mission-card [mission]="m">
        </app-mission-card>
    </div>
</div>