.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-section {
    display: flex;
    justify-content: space-between;
}

.container-section-sort {
    margin-bottom: 12px;
}