@import "../../../styles.scss";

.container {
    padding: 36px;
    height: 100%;
    background-color: $cream;
}
.container-content-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-content-cards {
    padding-top: 48px;
    width: 100%;
}

.container-content-upgrade-activated {
    display: flex;
    margin-top: 20px;
}