<div class="container">
    <h2>Summoner's dashbord</h2>
    <div class="container-content">
        <div class="container-content-filter">
            <mat-radio-group [(ngModel)]="gemGrade" class="section-gems" aria-label="Select an option">
                <mat-radio-button class="legOrHero" value="leg">Use Legendary gems</mat-radio-button>
                <br>
                <mat-radio-button class="legOrHero" value="hero">Use Hero gems</mat-radio-button>
            </mat-radio-group>
            <div class="section-option">
                <!-- <mat-slide-toggle [(ngModel)]="isEquipedRunes">Use equiped runes</mat-slide-toggle> -->
                <mat-slide-toggle [(ngModel)]="isOnlyStorageRunes">Exclude runes from island monsters</mat-slide-toggle>
                <br>
                <mat-slide-toggle [(ngModel)]="isAbort">Abort if default is higher</mat-slide-toggle>

            </div>

            <div class="section-two-import-button">
                <button mat-raised-button *ngIf="isValid" (click)="downloadWizardJSON()" class="btn-valid">Download
                    updated
                    file
                    <mat-icon class="icon">file_download_on</mat-icon>
                </button>
                <button mat-flat-button disabled *ngIf="!isValid" class="btn-invalid">Full grinds runes<mat-icon
                        class="icon">
                        file_download_off</mat-icon></button>
            </div>
        </div>
        <div class="container-content-cards">
            <h2>Quests</h2>
            <app-missions-list></app-missions-list>
        </div>
    </div>