
.container {
    padding: 36px;
}
.container-content-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-content-cards {
    padding-top: 48px;
    display: flex;
    align-items: center;
}