<div class="container-navbar" *ngIf="wizardHasSet">
    <div class="container-navbar-top">
        <div class="container-navbar-header">
            <h2>OH MY RUNES</h2>
        </div>
        <a class="container-navbar-btn" routerLink="/dashboard" routerLinkActive="active">
            <mat-icon class="icon">
                playlist_add_check
            </mat-icon>
            <p class="container-navbar-btn-txt">Quests</p>
        </a>
        <a class="container-navbar-btn" routerLink="/runes" routerLinkActive="active">
            <mat-icon class="icon">
                auto_awesome
            </mat-icon>
            <p class="container-navbar-btn-txt">Runes</p>
        </a>
        <a class="container-navbar-btn" routerLink="/chart" routerLinkActive="active">
            <mat-icon class="icon">
                bar_chart
            </mat-icon>
            <p class="container-navbar-btn-txt">Charts</p>
        </a>
        <a class="container-navbar-btn" routerLink="/params" routerLinkActive="active">
            <mat-icon class="icon">
                toggle_on
            </mat-icon>
            <p class="container-navbar-btn-txt">Gems/Enchance</p>
        </a>
    </div>
    <div class="container-navbar-bottom">
        <a class="container-navbar-btn" routerLink="/" (click)="resetWizard()">
            <mat-icon class="icon">
                logout
            </mat-icon>
            <p class="container-navbar-btn-txt">Clear JSON</p>
        </a>
    </div>
</div>