<div class="container">
    <section class="container-content">
        <div class="container-content-title">
            <h2>OH MY RUNES !</h2>
            <!-- 
                need to fix it
                <mat-divider></mat-divider>
            -->
            <h3>Import your data (via .json File)</h3>
            <button mat-raised-button color="primary" (click)="chooseFile()">
                Pick a file
                <!--
                  <mat-icon class="icon">folder</mat-icon>
                -->
                <input type="file" id="cta" style="display:none" (change)="handle($event)">
            </button>
        </div>
        <video #vdo class="main-video playing" loop muted autoplay oncanplay="this.play()"
            onloadedmetadata="this.muted = true">
            <source src="./../../../assets/video/main_vdo.mp4" type="video/mp4">
        </video>
    </section>
</div>