<div class="container">
    <section class="container-content">
        <div class="container-content-title">
            <h2>OH MY RUNES !</h2>
            <h3>SW additional quests content</h3>
            <!-- 
                need to fix it
                <mat-divider></mat-divider>
            -->
            <div class="hr-solid"></div>
            <h3>Import your data (via .json File)</h3>
            <div class="section-import-button">
                <button mat-raised-button (click)="chooseWizardFile()">Pick a file <mat-icon class="icon">folder
                    </mat-icon><input type="file" id="cta" style="display:none" (change)="handle($event)"></button>
            </div>
            <div class="section-two-import-button">
                <button mat-raised-button *ngIf="isValid" (click)="moveToDashbord()" class="btn-valid">Go to the dashbord <mat-icon class="icon">file_download_on</mat-icon></button>
                <button mat-flat-button disabled *ngIf="!isValid" class="btn-invalid">Go to the dashbords<mat-icon
                        class="icon">file_download_off</mat-icon></button>
            </div>
            <div class="section-option">
                <br/>
                <mat-slide-toggle [(ngModel)]="isDemonstration">Use JSON (demo file)</mat-slide-toggle>
            </div>
            <div class="section-manage-json">
                <div *ngIf="isValid" class="section-json-name">
                    <p>{{fileToUpload?.name || "File-data.json"}}</p>
                    <mat-icon class="icon" (click)="resetFile()">clear</mat-icon>
                </div>
            </div>
        </div>


        <video #vdo class="main-video playing" loop muted autoplay oncanplay="this.play()"
            onloadedmetadata="this.muted = true">
            <source src="./../../../assets/video/main_vdo.mp4" type="video/mp4">
        </video>
    </section>
</div>