@import "../../../../styles.scss";

.container {
    width: 100%;
    border-radius: 12px;
    border: 1px solid gainsboro;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%);
    background-color: $white;
}

.container:hover {
    box-shadow: 0 0 6px rgb(134, 35, 255);
}

// .container:hover {
//     box-shadow: 0 0 6px red;
// }

.container-content {
    padding: 8px;
}

.container-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-content-header-img {
    display: flex;
    flex-direction: row;
}

.container-content-header-eff {
    display: flex;
    flex-direction: column;
}

.container-content-stats-section1-effects-value {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.container-content-stats-section1-effects-value-grind {
    color: $orange;
}

.container-content-stats-section1-effects-value-icon {
    color: $orange;
    font-size: 18px;
    font-weight: bold;
}

.red {
    color: red;
    font-size: 12px;
}