@import "../../../../styles.scss";

.container {
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
    padding: 10px;
}

.container-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-content-header-img {
    display: flex;
    flex-direction: row;
}

.container-content-header-eff {
    display: flex;
    flex-direction: column;
}

.container-content-stats-section1-effects-value {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.container-content-stats-section1-effects-value-grind {
    color: $orange;
}

.container-content-stats-section1-effects-value-icon {
    color: $orange;
    font-size: 18px;
    font-weight: bold;
}

.red {
    color: red;
    font-size: 18px;
}