<div class="container">
    <div class="container-content">
        <div class="container-content-header">
            <div class="container-content-header-img">
                <div class="container-content-header-img-background-rank" [style.background-image]='getBackgroundRank()'>
                    <div class="container-content-header-img-background-slot" [style.background-image]='getBackgroundSlot()'>
                    <img src='{{"../../../../assets/png/runes/rune_" + getType() + ".png"}}'>
                </div>
            </div>
            <div class="container-content-primary">
                <h2>{{ formatType(rune.primaryEffect.type) + " " + formatEffect(rune.primaryEffect)}}</h2>
                <h3 *ngIf="rune?.innateEffect.type !== 0">{{ formatType(rune.innateEffect.type) + " " +
                    formatEffect(rune.innateEffect)}}</h3>
            </div>
            <div class="container-content-header-eff">
                <p>Orig: {{ getNaturalRank(rune.rank)}}</p>
                <p>Eff: {{ rune.efficiency.toFixed(2) }}</p>
                <p>EffMax: {{ rune.maxEfficiency.toFixed(2) }}</p>
            </div>
        </div>
        <div class="container-content-stats">
            <div class="container-content-stats-section1">
                <div class="container-content-stats-section1-effects">
                    <div *ngFor="let effect of rune.secondaryEffects; let index = index;">
                        <div class="container-content-stats-section1-effects-value" *ngIf="effect.grindstones > 0">
                            <p> {{ formatType(effect.type) }}</p>
                            <p class="container-content-stats-section1-effects-value-grind"> {{ formatEffect(effect) }}
                            </p>
                            <p class="container-content-stats-section1-effects-value-grind"> ({{ effect.grindstones }})
                            </p>
                            <mat-icon *ngIf="effect.gems == 1"
                                class="container-content-stats-section1-effects-value-icon">
                                autorenew</mat-icon>

                        </div>
                        <div class="container-content-stats-section1-effects-value" *ngIf="effect.grindstones == 0">
                            <p> {{ formatType(effect.type) }}</p>
                            <p> {{ formatEffect(effect) }}</p>
                            <mat-icon *ngIf="effect.gems == 1"
                                class="container-content-stats-section1-effects-value-icon">
                                autorenew</mat-icon>
                        </div>
                        <!-- <div class="red" *ngIf="rune.secondaryEffectsUpgraded.index == index">
                        <div *ngFor="let gem of rune.secondaryEffectsUpgraded.gemsArray">
                            <p>{{ getEffect(gem) }}</p>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>