<div class="container">
    <div class="container-content-header">
        <div class="container-content-header-img">
            <img src='{{"../../../../assets/png/runes/rune_" + getType() + ".png"}}'>
            <div class="container-content-primary">
                <h2>{{ getEffect(rune.primaryEffect.type) + " " + rune.primaryEffect.value}}</h2>
                <h3 *ngIf="rune?.innateEffect.type !== 0">{{ getEffect(rune.innateEffect.type) + " " + rune.innateEffect.value}}</h3>
            </div>
        </div>
        <div class="container-content-header-eff">
            <p>Orig: {{ getNaturalRank(rune.rank)}}</p>
            <p>Eff: {{ rune.efficiency.toFixed(2) }}</p>
            <p>EffMax: {{ rune.maxEfficiency.toFixed(2) }}</p>
        </div>
    </div>
    <div class="container-content-stats">
        <div class="container-content-stats-section1">
            <div class="container-content-stats-section1-effects">
                <div *ngFor="let effect of rune.secondaryEffects">
                    <div class="container-content-stats-section1-effects-value" *ngIf="effect.grindstones > 0">
                        <p> {{ getEffect(effect.type) }}</p>
                        <p class="container-content-stats-section1-effects-value-grind"> {{ formatEffect(effect) }}</p>
                        <p class="container-content-stats-section1-effects-value-grind"> ({{ effect.grindstones }})</p>
                        <mat-icon *ngIf="effect.gems == 1" class="container-content-stats-section1-effects-value-icon">
                            autorenew</mat-icon>

                    </div>
                    <div class="container-content-stats-section1-effects-value" *ngIf="effect.grindstones == 0">
                        <p> {{ getEffect(effect.type) }}</p>
                        <p> {{ formatEffect(effect) }}</p>
                        <mat-icon *ngIf="effect.gems == 1" class="container-content-stats-section1-effects-value-icon">
                            autorenew</mat-icon>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>