<div class="container">
    <div>
        <h2>Params</h2>
    </div>
    <div class="container-content">
       
        <div class="container-content-upgrade-activated">
            <h3>Simulate upgrade runes (With Enchanted Gem)</h3>

        </div>

        <div class="container-content-filter">

            <select [(ngModel)]="params.gemGrade" (ngModelChange)="ngOnChanges($event)">
                <option value="default">Without gems (default)</option>
                <option value="leg">Use Legendary gems</option>
                <option value="hero">Use Hero gems</option>
            </select>

            <div class="section-option">
                <mat-slide-toggle [(ngModel)]="params.isOnlyStorageRunes" (ngModelChange)="ngOnChanges($event)">Exclude runes from island monsters
                </mat-slide-toggle>
                <br>
                <mat-slide-toggle [(ngModel)]="params.isAbort" (ngModelChange)="ngOnChanges($event)">Abort if default is higher</mat-slide-toggle>
                <br>
                <br>
                <mat-slide-toggle [(ngModel)]="params.isEfficiencyMax" (ngModelChange)="ngOnChanges($event)">Include efficiency Max (missions & graph) </mat-slide-toggle>
            </div>

            <div class="section-button">
                <div class="section-button-text">
                    <p>Now if you want donwload your json with Enchanted Gem</p>
                    <p>you can use it to import potentiel runes in Summoners war Optimizer</p>
                </div>
                <button mat-raised-button *ngIf="isValid" (click)="downloadWizardJSON()" class="btn-valid">Download
                    upgraded
                    file
                    <mat-icon class="icon">file_download_on</mat-icon>
                </button>
            </div>
        </div>

    </div>
</div>