/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Arial;
  }
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// default color
$shy_tomato: #c91432;
$burnt_sienna: #f07662;
$green: #1cc54e;
$aqua_green: #9fd9b4;
$vivian_green: #668980;
$apache: #ddbe65;
$dune: #fcdb85;
$blue: #00008f;
$ocean_blue: #4976ba;
$pacific: #00adc6;
$igloo: #b5d0ee;
$mine_shaft: #333333;
$scorpion: #5f5f5f;
$gray: #7f7f7f;
$dusty_gray: #999999;
$silver: #cccccc;
$mercury: #e5e5e5;
$wild_sand: #f5f5f5;
$alabaster: #fafafa;
$white: #ffffff;
$black: #000000;
$cream_can: #ddbe65;

// custom color
$pink_cream: #F7F3FD;
$cream: #F7F8FC;