<div class="container">
    <div class="container-content">
        <div class="container-content-rune">
            <div class="container-content-rune">
                <img src="../../../../assets/png/runes/rune_violent.png">
            </div>
        </div>
        <div class="container-content-mission">

            <div class="container-content-mission-section1">
                <div class="container-content-mission-section1-title">
                    <h2>Combatant IV (3/12)</h2>
                </div>
                <div class="container-content-mission-section1-progression"> +300xp</div>
            </div>
            <div class="container-content-mission-section2">
                <div class="container-content-mission-section2-description">
                    Avoir récolter 12 runes d'une qualité platine
                </div>
                <div class="container-content-mission-section2-percentage">25%</div>
            </div>
        </div>
    </div>
</div>