<div class="container">
    <div class="container-content">
        <div class="container-content-rune">
            <div class="container-content-rune">
                <img src="../../../../assets/png/runes/rune_violent.png">
            </div>
        </div>
        <div class="container-content-mission">

            <div class="container-content-mission-section1">
                <div class="container-content-mission-section1-title">
                    <h2>{{mission.title}}</h2>
                    <div *ngFor="let type of mission.tag ">
                        <tag [type]=type></tag>
                    </div>
                </div>
                <div class="container-content-mission-section1-progression">+{{mission.xp}}xp</div>
            </div>
            <div class="container-content-mission-section2">
                <div class="container-content-mission-section2-description">
                    {{mission.description}}
                </div>
                <div class="container-content-mission-section2-percentage">{{mission.percentage}}%</div>
            </div>
        </div>
    </div>
</div>